<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sitecore CDP Project</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />
    <script type="text/javascript">
        // Define the Boxever JavaScript Library
    </script>
</head>

<body>
    <div>
        @Html.Sitecore().Placeholder("cdp-main")
    </div>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script type="text/javascript"></script>
</body>
</html>