<div>
    <button id="btnConfirmProductInCart" type="button" class="btn btn-info">Confirm Product In Cart</button>
    <div class="card">
        @Html.Sitecore().Field("ProductMainImage")
        <div class="card-body">
            <h5 class="card-title" id="ProductTitle">@Html.Sitecore().Field("ProductMainTitle")</h5>
            <p class="card-text">@Html.Sitecore().Field("ProductMainDescription")</p>
            <button id="btnAddProductToCart" type="button" class="btn btn-primary">Add Product To Cart</button>
        </div>
    </div>
    <div style="text-align:center;">
        <button id="btnMakePayment" type="button" class="btn btn-danger">Make Payment</button>
        <button id="btnCheckOutAfterPayment" type="button" class="btn btn-success">Check Out After Payment</button>
        <button id="btnCheckOfferForGuest" type="button" class="btn btn-secondary">Check Offer For Guest</button>
    </div>
</div>