<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site name="cdpsitecore" patch:before="site[@name='website']"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content/cdpsitecore"
				  startItem="/home"
				  hostname="sitecorecdp.dev.local"
				  targetHostname="sitecorecdp.dev.local"
				  database="web"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="50MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"/>
		</sites>
	</sitecore>
</configuration>
